__pycache__/
*.py[cod]
*.log
*.mat
.idea
preprocess
preprocessed
store_model
store_physnet_model
PreprocessedData
PreTrainedModels
runs
temp
results
results_old
results_dropout-0.1
results_dropout-2.0
results_dropoutd2_d3
results_no-dropout
facial_region_test.py
interp_test.py
debug_utils.py
multi_test.py
neural_methods/trainer/PhysnetTrainer_backup.py
debug_utils_physnet.py
test.yaml
